.modal {
    display: block;
    transform: scale(0);
}

.active {
    transform: scale(1);
}

.modal__content {
    position: absolute;
    left: 0px;
    top: 50px;
    background-color: grey;
    width: fit-content;
    box-shadow: 0 5px 0px rgb(0 0 0 / 0%), 0 4px 14px rgb(0 0 0 / 22%);
    border-radius: 5px;
}